.article-container {
  padding-top: 30px;
  max-width: 1080px;
  min-height: 220px;
  display: flex;
}
.article-container img {
  width: 320px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.article-info {
  margin-top: 8px;
}

.category-date {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 4px;
}

.article-date {
  font-size: 12px;
  color: #666;
}

.article-desc {
  font-size: 16px;
  color: #2a2f35;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article-info {
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  gap: 10px;
  justify-content: center;
}
