* {
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-family-base);
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  padding-top: 20px;
  padding-bottom: 20px;
}
.website-title {
  font-size: 24px;
  list-style-type: none;
}

.nav h3,
h4 {
  color: var(--color-white);
}
.nav > .right-part ul {
  display: flex;
  gap: 20px;
}
.nav > .right-part ul li {
  list-style-type: none;
}

.nav-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  position: relative;
}

.nav-link h4 {
  position: relative;
  display: inline-block;
}

.nav-link h4::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--color-white);
}

.nav-link:hover h4::after {
  width: 100%;
}
.nav-mobile {
  display: none;
}
@media (max-width: 768px) {
  .menuBar ul li {
    list-style-type: none;  
  }
  .title-container-mobile a {
    text-decoration: none;
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    display: flex;
    height: 60px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .menuBtn-container {
    background: none;
    border: none;
  }
  .menuOpen {
    margin-bottom: 6rem;
  }
  button {
    background: none;
    border: none;
    outline: none;
  }
  .title-mobile {
    color: var(--color-white);
    font-size: 20px;
  }

  .title-container-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  .menuBar p {
    color: var(--color-white);
  }
  .nav-mobile {
    position: relative; /* ensures the title centers within this container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: black;
  }

  .menuBar {
    position: absolute;
    top: 100%; /* places it directly below the header */
    left: 0;
    width: 100%;
    background-color: var(--color-black); /* or your preferred color */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 1rem 0;
    z-index: 10; /* ensures it's on top */
  }
}
