body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.content {
  padding-top: 80px;
}
.right-margin {
  padding-right: 9rem;
}

.Latest {
  padding-bottom: 50px;
}

.BigArticleSection {
  background: var(--color-black);
  display: flex;
}
.BigArticleSectionContainer {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
