@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap");

:root {
  --color-black: #191a1c;
  --color-gray-900: #2a2f35;
  --color-gray-800: #3b4046;
  --color-gray-600: #787f87;
  --color-white: #ffffff;

  --color-orange: #dd8e54;
  --color-purple: #ad8ebf;
  --color-pink: #bb7082;

  --font-family-base: "IBM Plex Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --font-size-h1: 40px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;

  --font-size-large: 16px; /* Large Text (16) */
  --font-size-medium: 12px; /* Medium Text (12) */
  --font-size-normal: 10px; /* Normal Text (10) */
  --font-size-small: 8px; /* Small Text (8) */

  /* Font weights */
  --font-weight-normal: 400; /* Normal */
  --font-weight-semibold: 600; /* Semibold */
}
.not-centered {
  padding-left: 7rem;
}
.right-part {
  padding-right: 9rem;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}

.reports-page-container {
  background-color: var(--color-orange);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sports-page-container {
  background-color: var(--color-pink);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blogs-page-container {
  background-color: var(--color-purple);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.category-header-desc {
  max-width: 500px;
}
.category-header {
  margin-bottom: 40px;
}
.articles-div {
  padding-bottom: 70px;
}


